$lg-width: 1264px;
$md-width: 960px;
$sm-width: 600px;
$min-width: 320px;

$background: #f2f2f2;

// Link color
$link: #000;

// Link hover color
$link-hover: #2d56d0;
$body-font-family: "Montserrat";

$black: #18191f;
$accent: #004bff;
$gray: #ececec;
$white: #f1f3ef;

$error: #ff5252;
$success: #4caf50;

$toolbar-mobile-height: 64px;
$toolbar-desktop-height: 90px;

:root {
    --toolbar-height: #{$toolbar-mobile-height};

    @include md {
        --toolbar-height: #{$toolbar-desktop-height};
    }
    // $dialog-mobile-margin: 20px;
    // $dialog-desktop-margin: 40px;
    // --dialog-margin: #{$dialog-mobile-margin};
    // --dialog-max-height: calc(100vh - var(--toolbar-height) - var(--dialog-margin) * 2);

    // @include md {
    //     --dialog-margin: #{$dialog-desktop-margin};
    // }
}
