$lg-width: 1264px;
$md-width: 960px;
$sm-width: 600px;
$min-width: 320px;

$background: #f2f2f2;

// Link color
$link: #000000;

// Link hover color
$link-hover: #2d56d0;
$body-font-family: "Montserrat";

$black: #18191f;
$accent: #004bff;
$gray: #ececec;
$white: #f1f3ef;

$error: #ff5252;
$success: #4caf50;
// @function derive-rgb-values-from-hex($hex) {
//     @return red($hex),
//     green($hex),
//     blue($hex);
// }

:root {
    --toolbar-height: 64px;

    // --white-rgb: rgb(#{derive-rgb-values-from-hex($white)});

    @include md {
        --toolbar-height: 90px;
        // margin-top: 90px;
    }
}
