$lg-width: 1264px;
$md-width: 960px;
$sm-width: 600px;
$min-width: 320px;

$background: #f2f2f2;

// Link color
$link: #000000;

// Link hover color
$link-hover: #2d56d0;
$body-font-family: "Montserrat";

$black: #18191f;
$accent: #004bff;
$gray: #ececec;
$white: #f1f3ef;

$error: #ff5252;
$success: #4caf50;
// @function derive-rgb-values-from-hex($hex) {
//     @return red($hex),
//     green($hex),
//     blue($hex);
// }
$dialog-mobile-margin: 20px;
$dialog-desktop-margin: 40px;

$toolbar-mobile-height: 64px;
$toolbar-desktop-height: 90px;

$dialog-mobile-margin: 20px;
$dialog-desktop-margin: 40px;

// :root {
//     --toolbar-height: #{$toolbar-mobile-height};
//     --dialog-margin: #{$dialog-mobile-margin};

//     --dialog-width: 100%;
//     --fab-button-size: 44px;

//     @include md {
//         --toolbar-height: #{$toolbar-desktop-height};
//         --dialog-margin: #{$dialog-desktop-margin};
//         --dialog-width: 900px;
//         --fab-button-size: 48px;
//     }

//     @include lg {
//         --dialog-width: 1185px;
//     }
// }

:root {
    --toolbar-height: #{$toolbar-mobile-height};
    --dialog-margin: #{$dialog-mobile-margin};
    --dialog-width: 100%;
    // --white-rgb: rgb(#{derive-rgb-values-from-hex($white)});

    @include md {
        --toolbar-height: #{$toolbar-desktop-height};
        --dialog-margin: #{$dialog-desktop-margin};
        --dialog-width: 900px;
        // margin-top: 90px;
    }
    @include lg {
        --dialog-width: 1185px;
    }
}
