$xl-width:1904px;
$lg-width: 1264px;
$md-width: 960px;
$sm-width: 600px;

/* ==========  Desktop First  ========== */

/* Large devices | 1200px or less */
// }// @media (min-width: $xl-width) {
//     .container {}
// }

@mixin xl {
    @media only screen and (min-width: #{$xl-width}) {
        @content;
    }
}

@mixin lg {
    @media only screen and (min-width: #{$lg-width}) {
        @content;
    }
}

/* Medium devices | 992px or less */
@mixin md {
    @media only screen and (min-width: #{$md-width}) {
        @content;
    }
}

/* Small tablet devices | 768px or less */
@mixin sm {
    @media only screen and (min-width: #{$sm-width}) {
        @content;
    }
}
