body {
    min-width: 320px;
}

.nuxt-progress {
    background: linear-gradient(90deg, lighten($accent, 30%) 0%, lighten($accent, 15%) 45%, $accent 100%) !important;
}

.v-toolbar__content {
    padding: 0 !important;
}

.v-application {
    font-family: $body-font-family !important;
}

.position-relative {
    position: relative;
}

.v-slide-group__prev--disabled,
.v-slide-group__next--disabled {
    color: rgba(0, 0, 0, .38) !important;
}

.error {
    border-color: $error !important;
    background-color: $error !important;
}

.error--text {
    color: $error !important;
    caret-color: $error !important;
}

.success {
    border-color: $success !important;
    background-color: $success !important;
}

.success--text {
    color: $success !important;
    caret-color: $success !important;
}

.pageHeader {
    text-align: center;
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 125%;

    @include md {
        text-align: left;
        font-size: 2.9rem;
    }
}

.callToActionButton {
    height: 36px !important;
    // min-width: 64px !important;
    padding: 0 16px !important;
    font-size: 12px !important;
    box-shadow: 0 0 15px rgba($white, .65);
    transition-property: box-shadow, transform, opacity, background-color, border-color, color;

    &:hover {
        border-color: $accent !important;
        background-color: $accent !important;
        color: $white;
        box-shadow: 0 0 18px rgba($accent, .7) !important;
    }

    @include md {
        min-width: 78px;
        height: 44px !important;
        padding: 0 19.5555555556px !important;
        font-size: 14px !important;
    }

    @include lg {
        min-width: 92px;
        height: 52px !important;
        padding: 0 23.1111111111px !important;
        font-size: 1rem !important;
    }
}

// .theme--light.v-application {
//     background-color: rgb(21, 19, 23) !important;
// }

.v-main {
    overflow-x: hidden;
    padding-top: var(--toolbar-height) !important;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 100px;
        background-color: #151317;
    }

    .v-main__wrap {
        position: relative;
        background-color: white;
    }
}

.sectionWrapper {
    padding-top: 4.5rem;
    padding-bottom: 4rem;

    @include md {
        padding-top: 6rem;
        padding-bottom: 5rem;
    }
}

.sprite-icons {
    width: 24px;
    height: 24px;
}

a[href="tel:+74991120654"] {
    .phone-text {
        visibility: hidden;
    }
}

html {
    font-size: 14px !important;
    scroll-behavior: smooth;
}

@include md {
    html {
        font-size: 16px !important;
    }
}

@media (min-width: 1904px) {
    .container:not(.container--fluid) {
        max-width: 1570px !important;
    }
}
