body {
    min-width: 320px;
}

.v-toolbar__content {
    padding: 0 !important;
}

.v-application {
    font-family: $body-font-family, sans-serif !important;
}

.position-relative {
    position: relative;
}

.v-slide-group__prev--disabled,
.v-slide-group__next--disabled {
    color: rgba(0, 0, 0, 0.38) !important;
}


.pageHeader {
    font-weight: 600;
    font-size: 2.9rem;
    line-height: 125%;
}

.v-main {
    margin-top: 64px;

    @include md {
        margin-top: 90px;
    }
}

.sprite-icons {
    width: 24px;
    height: 24px;
}

html {
    font-size: 14px !important;
}

@include md {
    html {
        font-size: 16px !important;
    }
}

@media (min-width: 1904px) {
    .container:not(.container--fluid) {
        max-width: 1570px !important;
    }
}