@import "_vars/vars";
@import "_fonts/fonts";

html {
    font-size: 14px !important;
}

body {
    min-width: 320px;
}

.v-toolbar__content {
    padding: 0 !important;
}

.v-application {
    font-family: $body-font-family !important;
}

.position-relative {
    position: relative;
}

.v-slide-group__prev--disabled,
.v-slide-group__next--disabled {
    color: rgba(0, 0, 0, 0.38) !important;
}

.content-wrapper {
    padding-top: 3rem;
    padding-bottom: 2rem;
    color: $black;

    @include md {
        padding-top: 6rem;
        padding-bottom: 5rem;
    }

    a {
        color: $black;
        text-decoration: none;

        &:hover {
            color: $accent;
        }
    }


    h2 {
        margin-bottom: 2rem;
    }

    h3 {
        margin-bottom: 1rem;
    }

    ul,
    ol {


        li {
            margin-bottom: 1rem;
        }
    }

    ul {
        list-style: square inside url("~assets/icons/bullet_min.svg");
        padding-left: 5px !important;

    }

    h2:not(:first-child) {
        margin-top: 3rem;
    }
}

html {
    font-size: 14px !important;
}

@include md {
    html {
        font-size: 16px !important;
    }
}

@media (min-width: 1904px) {
    .container:not(.container--fluid) {
        max-width: 1570px !important;
    }
}